* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: 0;
}

hmtl,
body {
	font-size: 14px;
	font-family: monospace;
	line-height: 1.5;
	/* background: #fdfdfd; */
	background: #151A22;
	color: #cecece;
}

input::placeholder {
	color: #cecece;
	opacity: .5;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.text-center {
	text-align: center;
}

.container {
	padding: 22px;
	border-radius: 18px;
	margin: 5% auto;
	width: 100%;
	max-width: 400px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	/* background: #fff; */
	background: #1B202A;
}

.form {
	display: grid;
	grid-template: 40px / 1fr 40px;
	grid-gap: 14px;
	margin-bottom: 10px;
}

.form input {
	padding: 8px 12px;
	border: 0;
	border-radius: 8px;
	background: #151A22;
	color: #e1e1e1;
}

.form button {
	border-radius: 8px;
	border: 0;
	background: #0787b4;
	color: #fff;
	cursor: pointer;
}

.image {
	background: transparent no-repeat center;
	background-size: 60%;
	position: relative;
	padding-top: calc(3 / 4 * 100%);
}

.image span {
	position: absolute;
	font-size: 18px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
	width: 100%;
	text-align: center;
}

.tempeture {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	font-size: 42px;
}

.tempeture span {
	font-size: 22px;
}

.location {
	margin-bottom: 40px;
}

.detail {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.detail b {
	display: block;
	margin-bottom: 8px;
	font-size: 22px;
	font-weight: 600;
}

.detail span {
	display: flex;
	align-items: center;
	font-size: 14px;
	opacity: .6;
}

.detail span .fas {
	margin-right: 12px;
}